## Basic of Python

Just keep on wiritng on notebook whatever you want an it will give you results.
This noteebook has exaples on the following:
- Various Datatypes in Python
- Variable 
- Variables Assigment
- Print Formatting

## Various DataTypes in Python

### Numbers

In [1]:
1+1

2

In [2]:
4*5

20

In [3]:
2*10

20

In [4]:
10/2

5.0

In [5]:
10%2

0

In [6]:
10**2

100

In [7]:
##Check the Data types

In [8]:
type(True)

bool

In [9]:
type("python")

str

### Strings

In [10]:
"Hello"

'Hello'

In [11]:
'Ashish Kumar'

'Ashish Kumar'

In [12]:
type("Ashish Kumar")

str

### Variable Assigment

In [13]:
# syntax
# var_name=values

a=10

In [14]:
type(a)

int

In [15]:
a='Ashish Kumar'

In [16]:
type(a)

str

In [17]:
## Mathematical operation with Variable Assigment

a=10
b=20

In [18]:
print(a*b)
print(a/b)
print(a%b)
print((a*b)+(a/b)) ##BODMAS

200
0.5
10
200.5

In [19]:
## Various Ways of Printing

print("Hello")

Hello

In [20]:
first_name='Ashish'
last_name='Kumar'

In [21]:
print("My first name is {} and last name is {}".format(first_name,last_name))

My first name is Ashish and last name is Kumar

In [22]:
print("My First name is {first} and last name is {last}".format(last=last_name,first=first_name))

My First name is Ashish and last name is Kumar

In [23]:
len('Ashish')

6

In [24]:
type(['1',2,3,4,5])

list