In [1]:
a = 10
b = 20
a+b

30

In [2]:
def test(x,y):    
    print(x+y)

In [3]:
type(test(23,45))

68

NoneType

In [4]:
b = test(34,56)

90

In [5]:
type(b)

NoneType

In [6]:
def test1(b,m):
    return b * m

In [7]:
a = test1(5,89)

In [8]:
type(a)

int

In [9]:
def test2(t,n,m):
    return t + n
    return n+m

In [10]:
test2(4,5,6)

9

In [11]:
test2(2,3,0)

5

In [12]:
def test3(n, m ):
    return n*10 , m*40 ,m+n

In [13]:
test3(2,7)

(20, 280, 9)

In [14]:
c,x,v = test3(2,7)

In [15]:
c

20

In [16]:
x

280

In [17]:
v

9

In [28]:
c , x , _ = test3(2,7)

In [29]:
c

20

In [30]:
x

280

In [31]:
_

280

In [36]:

c,_ , m= test3(2,7)

In [37]:
c

20

In [38]:
m

9

In [39]:
_

9

In [40]:
def test():
    print("this is my first funcation ")

In [41]:
m = test()

this is my first funcation

In [42]:
m + "fsdfsfsd"

TypeError: ignored

In [43]:
def test7():
    return "this is my first class "

In [44]:
n = test7()

In [45]:
n + "fsfsfsd"

'this is my first class fsfsfsd'

In [46]:
def test8(n):
    return n * 2

In [47]:
test8([3,4,5,6,7])

[3, 4, 5, 6, 7, 3, 4, 5, 6, 7]

In [48]:
test8(67)

134

In [49]:
def test9(n):
    return n,n*2

In [50]:
b = test9([4,5,6,6,7])

In [51]:
b

([4, 5, 6, 6, 7], [4, 5, 6, 6, 7, 4, 5, 6, 6, 7])

In [52]:
b[0]

[4, 5, 6, 6, 7]

In [53]:
b[1]

[4, 5, 6, 6, 7, 4, 5, 6, 6, 7]

In [54]:
def test10(n , m = 90 ):
    return n + m

In [56]:
test10(60)

150

In [58]:
def boolx(x = True , y = False):
    return x + y

In [59]:
boolx()

1

In [60]:
boolx(False)

0

In [61]:
boolx(False , 8)

8

In [62]:
True + False

1

In [63]:
def travel( bike = True , car = False ) : 
    plan_travel = bike or car 
    return bike , car , plan_travel

In [64]:
travel()

(True, False, True)

In [65]:
travel(car  = True )

(True, True, True)

In [66]:
travel(_, True)

((True, True, True), True, (True, True, True))

In [68]:
def test11(*args ):
    return args

In [69]:
test11("vvvvvvvvvvvv" , "kumar ", 34,[34,4,4,5,454,54])

('vvvvvvvvvvvv', 'kumar ', 34, [34, 4, 4, 5, 454, 54])

In [70]:
def test12(a , b , c ):
    return a + b + c

In [71]:
test12([1,2,3,4] , [4,5,6,7] , [4,5,6,78])

[1, 2, 3, 4, 4, 5, 6, 7, 4, 5, 6, 78]

In [73]:
def test13(*args):
    l = []
    for i in args:
        l = l + i
    return l

In [74]:
test13([3,4,5,6] , [3,4,5,6,7] , [3,4,5,6])

[3, 4, 5, 6, 3, 4, 5, 6, 7, 3, 4, 5, 6]

In [75]:
test13([4,5,6,6],[4,5,6,7])

[4, 5, 6, 6, 4, 5, 6, 7]

In [76]:
def test14(*args):
    return [i for i in args]

In [77]:
test14([4,5,6,6],[4,5,6,7])

[[4, 5, 6, 6], [4, 5, 6, 7]]

In [78]:
test13("fdsfdsf" , 234,[3,4,5,6,7,8] , [5,7,7,8,9])

TypeError: ignored

In [79]:
def test15(*args):
    l = []
    for i in args:
        if type(i) == list:  
            l = l + i
    return l

In [80]:
test15("fdsfdsf" , 234,[3,4,5,6,7,8] , [5,7,7,8,9])

[3, 4, 5, 6, 7, 8, 5, 7, 7, 8, 9]

In [81]:
def test16(**kwargs):
    return kwargs

In [82]:
test16(4,56,56)

TypeError: ignored

In [83]:
test16(a = 8 , b = True , c = [4,5,6,6,"kumar"] , d = "sudh")

{'a': 8, 'b': True, 'c': [4, 5, 6, 6, 'kumar'], 'd': 'sudh'}

In [84]:
def test17(*args):
    return args

In [85]:
test17(4,5,6,7, "sudh" , [4,5,6,7,8])

(4, 5, 6, 7, 'sudh', [4, 5, 6, 7, 8])

In [86]:
#1
def fun1(*args):
    a=[]
    b=[]
    c=[]
    d=[]
    e=[]
    f=[]
    g=[]
    for i in args:
        if type(i)==int:
            a.append(i)
        if type(i)==float:
            b.append(i)
        if type(i)==str:
            c.append(i)
        if type(i)==tuple:
            d.append(i)
        if type(i)==list:
            e.append(i)
        if type(i)==dict:
            f.append(i)
        if type(i)==bool:
            g.append(i)
    return a,b,c,d,e,f,g

#2 
def fun2(*args,**kwargs):
    l=[i for i in args]
    d=[i for i in kwargs]
    return l,d

In [87]:
#1
def fun1(*args):
    a=[]
    b=[]
    c=[]
    d=[]
    e=[]
    f=[]
    g=[]
    for i in args:
        if type(i)==int:
            a.append(i)
        if type(i)==float:
            b.append(i)
        if type(i)==str:
            c.append(i)
        if type(i)==tuple:
            d.append(i)
        if type(i)==list:
            e.append(i)
        if type(i)==dict:
            f.append(i)
        if type(i)==bool:
            g.append(i)
    return a,b,c,d,e,f,g

In [88]:
fun1(3,4,5,6,6,7.45,True ,False , [4,5,6,7,8,9] , [4,5,6,7,8,90] , 4+5j)

([3, 4, 5, 6, 6],
 [7.45],
 [],
 [],
 [[4, 5, 6, 7, 8, 9], [4, 5, 6, 7, 8, 90]],
 [],
 [True, False])

In [93]:
def fun2(*args,**kwargs):
    l=[i for i in args if type(i) == list ]
    d=[i[1] for i in kwargs.items() if type(i[1]) == list ]
    return l,d

In [94]:
fun2([4,5,6,7,8] , [5,6,7,8,9,0] , 5,5,6,7, a = 5 , b = "fsdfds" , m = [4,5,6,7])

([[4, 5, 6, 7, 8], [5, 6, 7, 8, 9, 0]], [[4, 5, 6, 7]])

In [95]:
def test18(**kwargs):
    for i in kwargs.items():
        if type(i[1])== list :
            if "ashu" in i[1] :
                print("i am able to find your name in input data ")
                print(i[1])
    return kwargs

In [97]:
test18(b =6 , c = [4,5,6,7] , d = ["ashu" , "kumar " , 5.67], n = 6 + 7j)

i am able to find your name in input data
['ashu', 'kumar ', 5.67]

{'b': 6, 'c': [4, 5, 6, 7], 'd': ['ashu', 'kumar ', 5.67], 'n': (6+7j)}

In [99]:
d ={'b': 6, 'c': [4, 5, 6, 7], 'd': ['ashish', 'kumar ', 5.67], 'n': (6+7j)}

In [100]:
d.values()

dict_values([6, [4, 5, 6, 7], ['ashish', 'kumar ', 5.67], (6+7j)])

In [102]:
def func1(*args):
  dt = {}
  for i in args:
    if type(i) in dt:
      dt[type(i)].append(i)
    else:
      dt[type(i)] = [i]
  return dt   
func1(1,2,3,[5,6,7],'hi','io', 6+7j , 6+4j)

{complex: [(6+7j), (6+4j)],
 int: [1, 2, 3],
 list: [[5, 6, 7]],
 str: ['hi', 'io']}