In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\dell\anaconda3\lib\site-packages (8.0.28)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\dell\anaconda3\lib\site-packages (from mysql-connector-python) (3.12.2)
Requirement already satisfied: setuptools in c:\users\dell\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (41.0.1)
Requirement already satisfied: six>=1.9 in c:\users\dell\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -umpy (c:\users\dell\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\dell\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\dell\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\dell\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\dell\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\dell\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\dell\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\dell\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\dell\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\dell\anaconda3\lib\site-packages)

In [2]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost",user="root", passwd="mysql",use_pure=True)
    # check if the connection is established

    query = "SHOW DATABASES"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print(cursor.fetchall())

except Exception as e:
    mydb.close()
    print(str(e))

[('information_schema',), ('mysql',), ('performance_schema',), ('sakila',), ('sys',), ('world',)]

In [14]:
conn = connection.connect(host="localhost",user="root", passwd="mysql",use_pure=True)

In [15]:
cur = conn.cursor()

In [16]:
cur.execute("show databases")

In [17]:
print(cur.fetchall())

[('information_schema',), ('mysql',), ('performance_schema',), ('sakila',), ('sys',), ('world',)]

In [21]:
conn = connection.connect(host="localhost",user="root", passwd="mysql",use_pure=True)

In [22]:
cur = conn.cursor()

In [24]:
cur.execute("create database ashish1")

In [26]:
cur.execute("show databases")

In [27]:
print(cur.fetchall())

[('ashish',), ('ashish1',), ('information_schema',), ('mysql',), ('performance_schema',), ('sakila',), ('sys',), ('world',)]

In [28]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", database = 'ashish',user="root", passwd="mysql",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "CREATE TABLE StudentDetails (Studentid INT(10) AUTO_INCREMENT PRIMARY KEY,FirstName VARCHAR(60)," \
            "LastName VARCHAR(60), RegistrationDate DATE,Class Varchar(20), Section Varchar(10))"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Table Created!!")
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
Table Created!!

In [29]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", database = 'ashish',user="root", passwd="mysql",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())
    query = "INSERT INTO StudentDetails VALUES ('1132','Sachin','Kumar','1997-11-11','Eleventh','A')"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Values inserted into the table!!")
    mydb.commit()
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
Values inserted into the table!!

In [31]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", database = 'ashish',user="root", passwd="mysql",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())
    query = "INSERT INTO StudentDetails VALUES ('1111','ashu','ashi','1997-11-11','Eleventh','A')"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Values inserted into the table!!")
    mydb.commit()
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
Values inserted into the table!!

In [38]:
import mysql.connector as connection
import pandas as pandas

try:

    mydb = connection.connect(host="localhost", database='ashish', user="root", passwd="mysql", use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())
    query = "Select * from StudentDetails;"
    result_dataFrame = pandas.read_sql(query,mydb)
    print(result_dataFrame)

    mydb.close()  # close the connection

except Exception as e:
    #mydb.close()
    print(str(e))

True
   Studentid FirstName LastName RegistrationDate     Class Section
0       1111      ashu     ashi       1997-11-11  Eleventh       A
1       1132    Sachin    Kumar       1997-11-11  Eleventh       A

In [51]:
import mysql.connector as connection
import pandas as pandas
import csv

try:
    #mydb = connection.connect(host="ashish", user="root", passwd="mysql",use_pure=True)
    #check if the connection is established
    #print(mydb.is_connected())
    #create a new database
    #query = "Create database GlassData;"
    #cursor = mydb.cursor() #create a cursor to execute queries
    #cursor.execute(query)
    #print("Database Created!!")
    mydb.close() #close the connection

    #Establish a new connection to the database created above
    mydb = connection.connect(host="localhost", database = 'ashish',user="root", passwd="mysql", use_pure=True)

    #create a new table to store glass data
    query = "CREATE TABLE IF NOT EXISTS GlassData1 (Index_Number INT(10),RI float(10,5), Na float(10,5), Mg float(10,5),Al float(10,5)," \
            " Si float(10,5), K float(10,5), Ca float(10,5), Ba float(10,5), Fe float(10,5), Class INT(5))"
    cursor = mydb.cursor()  # create a cursor to execute queries
    cursor.execute(query)
    print("Table Created!!")

    #read from the file
    with open('C:\\Users\\dell\\time_series_covid19_confirmed_global1.csv', "r") as f:    
        next(f)
        glass_data = csv.reader(f, delimiter="\n")
        for line in enumerate(glass_data):
            for list_ in (line[1]):
                cursor.execute('BULK INSERT INTO ashish.GlassData1 values ({values})'.format(str(list_[0]))) #(values=(list_))) 
                
    print("Values inserted!!")
    mydb.commit()
    cursor.commit()
    cursor.close()
    mydb.close()

except Exception as e:
    #mydb.close()
    print(str(e))

Table Created!!
'values'

In [ ]:
#just create a file with .csv extension with same parameters the .csv file and table created dont have same type rows and columns

In [40]:
pwd()

'C:\\Users\\dell'

In [48]:
#read from the file
    with open('C:\\Users\\dell\\time_series_covid19_confirmed_global.csv', "r") as f: 
        #just create a file with .csv extension with same parameters the .csv file and table created dont have same type rows and columns   
        next(f)
        glass_data = csv.reader(f, delimiter="\n")
        for line in enumerate(glass_data):
            for list_ in (line[1]):
                cursor.execute('INSERT INTO ashish.GlassData1 values ({values})'.format(values=(str(list_[0])))
    print("Values inserted!!")
    mydb.commit()
    cursor.close()
    mydb.close()

IndentationError: unexpected indent (<ipython-input-48-40e60441aaec>, line 2)