In [ ]:
# Abstraction no underscore public one underscore (_) proteccted two underscore (__) protected
class test:
    def __init__(self, a , b  , c ,d ) :
        self.__a = a 
        self.b = b
        self.c = c 
        self.d = d 
    def test_custome(self , v ) : 
         return v - self.__a 
    
    def __str__(self):
        return "this is my test code for abstraction"

In [ ]:
o = test(4,5,6,7)

In [ ]:
o.test_custome(7)

3

In [ ]:
o.__a #not gonna work because of private (__)

AttributeError: ignored

In [ ]:
o._test__a #calling class with single underscore object(underscore)classname(underscore underscore variable name)

4

In [ ]:
class test1(test):
    def __init__(self, j , *args):
        super(test1,self).__init__(*args) #
        self.j = j 
        
m = test1(4,5,6,7,8)
m.b

6

In [ ]:
m._test__a

5

In [ ]:
m.test_custome(8)

3

In [ ]:
m.b

6

In [ ]:
m.c

7

In [ ]:
m.d

8

In [ ]:
1.create class test and test1
2.inherit test and test1 into test2
3.function a in test
4.function a in test1
5.test2 should inherit function-a from test1 and test both

In [ ]:
class test:
  def __init__(self):
    print("Hey")
  def a(self):
    print("function overiding")

class test1:
  def __init__(self):
    print("yo")
  def a(self):
    print("function overiding 2")

class test2(test,test1):
  def __init__(self):
    print("yoy yo")
    test.a(self)
    test1.a(self)

t = test2()

yoy yo
function overiding
function overiding 2

In [ ]:
#single level 
class Ineuron:
    company_website = 'https://ineuron.ai/'
    name = 'iNeuron'
 
    def contact_details(self):
        print('Contact us at ', self.company_website)
 
 
class Datascience(Ineuron):
    def __init__(self):
        self.year_of_establishment= 2018
 
    def est_details(self):
        print('{0} Company was established in {1}'
              .format(self.name,self.year_of_establishment))
 
 
ds = Datascience()
ds.est_details()

iNeuron Company was established in 2018

In [ ]:
#multiple inheritence
class OS:
    multi_task = True
    os_name = 'Windows OS'
    name = "sudh"
 
class windows(OS, Ineuron):
    def __init__(self):
        if self.multi_task is True:
            print('multi_task')
        print('Name: {}'.format(self.name))
 
windows = windows()

multi_task
Name: sudh

In [ ]:
class windows(Ineuron,OS):
    def __init__(self):
        if self.multi_task is True:
            print('multi_task')
        print('Name: {}'.format(self.name))
 
 
windows = windows()

multi_task
Name: iNeuron

In [ ]:
#multlevel inheritence

class iNeuron:
    num_of_courses = 12
 
 
class Datascience(iNeuron):
    course_type = 'Data-Science'
 
 
class AI(Datascience):
    def __init__(self):
        self.company = "iNeuron"
        print('The company {0} offers total {1} different types of courses. Most trending course is {2}'.format(self.company,self.num_of_courses,self.course_type))
 
 
AI = AI()

The company iNeuron offers total 12 different types of courses. Most trending course is Data-Science

In [ ]:
import sqlite3

class DataBaseOperations:

    def __init__(self,databasename):
        
        self.databasename = databasename

    def createDatabase(self):
        try:
            conn = sqlite3.connect(self.databasename)
        except ConnectionError:
            raise ConnectionError
        return conn

    def createTable(self,tablename,dictionaryOfcolumnNamesAndcolumnDatatypes):
        try:
            conn = self.createDatabase()
            c = conn.cursor()
            for key in dictionaryOfcolumnNamesAndcolumnDatatypes.keys():
                datatype = dictionaryOfcolumnNamesAndcolumnDatatypes[key]
                try:
                    conn.execute(
                        'ALTER TABLE {tableName} ADD COLUMN "{column_name}" {dataType}'.format(tableName=tablename,
                                                                                               column_name=key,
                                                                                               dataType=datatype))
                except:
                    conn.execute('CREATE TABLE {tableName} ({column_name} {dataType})'.format(tableName=tablename,
                                                                                              column_name=key,
                                                                                              dataType=datatype))
            print("Table {0} created in database {1}".format(tablename,self.databasename))
            self.closeDbConnection(conn)
            print("Connection to database closed!!")
        except Exception as e:
            conn.rollback()
            self.closeDbConnection(conn)
            print("Connection to database closed!!")

            print("Exception occured: " + str(e))

    def insertIntoTable(self,tablename, listOfvaluesToInsert):
        try:
            conn = self.createDatabase()
            conn.execute('INSERT INTO {tablename}  values ({values})'.format(tablename = tablename,values=(listOfvaluesToInsert)))
            conn.commit()
            print("Values Inserted Successfully!!!")
            self.closeDbConnection(conn)
            print("Connection to database closed!!")
        except Exception as e:
            conn.rollback()
            self.closeDbConnection(conn)
            print("Connection to database closed!!")
            print("Error occured: " + str(e))

        # self.closeDbconnection()
    
    def selectFromTable(self,tablename):

        try:
            conn = self.createDatabase()
            c = conn.cursor()
            c.execute("SELECT *  FROM {table}".format(table=tablename))
            print("values in table : " ,c.fetchall())
            self.closeDbConnection(conn)
            print("Connection to database closed!!")
            
        except Exception as e:
            self.closeDbConnection(conn)
            print("Connection to database closed!!")
            print("Error occured: " + str(e))
    
    def closeDbConnection(self,connection):
       
        connection.close()

In [ ]:
class StudentMarks(DataBaseOperations): # inheriting the DatabaseOperation class
    
    def __init__ (self, ID, RollNumber, Marks):
        
        self.id= ID
        self.RollNum = RollNumber
        self.Marks = Marks
        self.databasename = "StudentDetails"

In [ ]:
student1 = StudentMarks(23,34,76)

In [ ]:
student1.createDatabase()

In [ ]:
#encaptulation 
class test:
    def __init__(self, a,b,c):
        self.a =a 
        self.b = b
        self.c = c 
        
    def __str__(self):
        return "this is the return form my test class "

    
class test1 :
    def __init__(self, a,b,c):
        self.a =a 
        self.b = b
        self.c = c 
        
    def __str__(self):
        return "this is the return form my test1 class "
    
class test2:
    
    def __init__(self, a,b,c):
        self.a = a 
        self.b = b
        self.c = c 
        
    def __str__(self):
        return "this is the return form my test2 class "

class final:
    
    def __init__(self,x,y,z):
        self.x= x
        self.y= y
        self.z = z
        
    def __str__(self) : 
        
        return str(self.x) + "  " + str(self.y) + "  " + str(self.z)

In [ ]:
t= test(4,5,6)
t1 = test1(3,4,5)
t2 = test2(5,6,7)
f = final(t,t1,"sudh")

In [ ]:
print(f)

this is the return form my test class   this is the return form my test1 class   sudh

In [ ]:
#encpsulation example 2 
class Tyres:
    def __init__(self, branch, belted_bias, opt_pressure):
        self.branch = branch
        self.belted_bias = belted_bias
        self.opt_pressure = opt_pressure
        
    def __str__(self):
        return ("Tyres: \n \tBranch: " + self.branch +
               "\n \tBelted-bias: " + str(self.belted_bias) + 
               "\n \tOptimal pressure: " + str(self.opt_pressure))
        
class Engine:
    def __init__(self, fuel_type, noise_level):
        self.fuel_type = fuel_type
        self.noise_level = noise_level
        
    def __str__(self):
        return ("Engine: \n \tFuel type: " + self.fuel_type +
                "\n \tNoise level:" + str(self.noise_level))
        
class Body:
    def __init__(self, size):
        self.size = size
        
    def __str__(self):
        return "Body:\n \tSize: " + self.size
        
class Car:
    def __init__(self,name ,  tyres, engine, body):
        self.name = name 
        self.tyres = tyres
        self.engine = engine
        self.body = body
        
    def __str__(self):
        return str(self.tyres) + "\n" + str(self.engine) + "\n" + str(self.body) + " " + str(self.name)

        
t = Tyres('Pirelli', True, 2.0)
e = Engine('Diesel', 3)
b = Body('Medium')
c = Car("toyota",t, e, b)
print(c)

Tyres:
 	Branch: Pirelli
 	Belted-bias: True
 	Optimal pressure: 2.0
Engine:
 	Fuel type: Diesel
 	Noise level:3
Body:
 	Size: Medium toyota

In [ ]:
class parent :    
    a = 10 
    b = 40 
    
    def __init__(self,parent_a , parent_b):
        self.parent_a = parent_a
        self.parent_b = parent_b
        
class child(parent):
    def __init__(self, *args):
        super(child,self).__init__(*args)

In [ ]:
class Dog:
    def __init__(self, name, year_of_birth, breed):
        self._name = name
        self._year_of_birth = year_of_birth
        self._breed = breed

    def __str__(self):
        return "%s is a %s born in %d." % (self._name, self._breed, self._year_of_birth)

asss = Dog("safeedvala", 1954, "Laika")
dog1 = Dog("german" ,565 , "coco")
dog2= Dog("german" ,565 , "coco")
dog3= Dog("german" ,565 , "coco")
dog4= Dog("german" ,565 , "coco")
dog5 = Dog("german" ,565 , "coco")
dog6= Dog("german" ,565 , "coco")
print(asss)

safeedvala is a Laika born in 1954.

In [ ]:
class student:
    
    def __init__(self,name, student_id,school_name, address):
        self.name = name 
        self.student_id = student_id
        self.school_name = school_name
        self.address = address
        
        
    def __str__(self):
        return str(self.name) + "  " + str(self.student_id) + "   " + str(self.school_name) + "  "+ str( self.address)

In [ ]:
stu = student("ashishkumar" , 454 , "iNeuron" , "xyz") 
print(stu)

ashishkumar  454   iNeuron  xyz

In [ ]:
dog = student(kudrjavka , 45 , "dog_sch" , "sdfdsf")
print(dog)

Kudrjavka is a Laika born in 1954.  45   dog_sch  sdfdsf

In [ ]:
dog1 = student(dog1 , 45 , "dog_sch" , "sdfdsf")

In [ ]:

class BonusDistribution:
    
    def __init__ (self,employeeId, employeeRating):
    
        self.empId = employeeId
        self.empRating = employeeRating
        self.__bonusforRatingA = "70%"  #making value private
        self.__bonusforRatingB = "60%"  #making value private
        self.__bonusforRatingC = "50%"  #making value private
        self.__bonusforRatingD = "30%"  #making value private
        self.__bonusforRatingForRest = "No Bonus" #making value private
        
        
    def bonusCalculator(self):
        
        if self.empRating == 'A':
            bonus = self.__bonusforRatingA
            msg = "Bonus for this employee is :"+ bonus
            return msg
        elif self.empRating == 'B':
            bonus = self.__bonusforRatingB
            msg = "Bonus for this employee is :"+ bonus
            return msg
        elif self.empRating == 'C':
            bonus = self.__bonusforRatingC
            msg = "Bonus for this employee is :"+ bonus
            return msg
        elif self.empRating == 'D':
            bonus = self.__bonusforRatingD
            msg = "Bonus for this employee is :"+ bonus
            return msg
        else:
            bonus = self.__bonusforRatingForRest
            msg = "Bonus for this employee is :"+ bonus
            return msg
        
    def __changevariable(self , value) : 
         self.__bonusforRatingB = value

In [ ]:
emp1 = BonusDistribution(1232,'B')
emp2 = BonusDistribution(1342,'B')
emp3 = BonusDistribution(1031,'E')

In [ ]:
emp3.bonusCalculator()

'Bonus for this employee is :No Bonus'

In [ ]:
emp2._BonusDistribution__changevariable("67%")

In [ ]:
emp2.bonusCalculator()

'Bonus for this employee is :67%'

In [ ]:
emp1.bonusCalculator()

'Bonus for this employee is :60%'

In [ ]:
emp1._BonusDistribution__bonusforRatingB = "90%"

In [ ]:
emp1.bonusCalculator()

'Bonus for this employee is :90%'

In [ ]:
emp1.chagnevariable("85%")

AttributeError: ignored

In [ ]:
emp1.bonusCalculator()

'Bonus for this employee is :90%'

In [ ]:
emp2.bonusCalculator()

'Bonus for this employee is :67%'

In [ ]:
emp1 = BonusDistribution(1232,'B')
emp2 = BonusDistribution(1342,'B')

In [ ]:
class multiplynumeric():
    def __init__(self,a) : 
        self.a = a 
    
    def __mul__(self, other ):
        
        return self.a - other.a #subtraction

In [ ]:
mul = multiplynumeric(10)
mul1 = multiplynumeric(2)

In [ ]:
mul * mul1 #in class subtraction is defined so subtraction will be performed  #overloading actual nature was different * but subtraction happened

8

In [ ]:
9 * 2

18

In [ ]:
# polymorphism exxamole myself brother to someone son of someone mama of someone etc etc
def test(a , b ) :
    return a + b

In [ ]:
print(test(5, 6 ))
print(test("sudh " , "kumar"))
print(test([3,4,5,6,7,8] , [ 4,5,6,7,89]))

11
sudh kumar
[3, 4, 5, 6, 7, 8, 4, 5, 6, 7, 89]

In [ ]:
class ineuron:
    def msg(self):
        print("this is a msg to ineruon")
          
class xyz:  
    def msg(self):
        print("this is a msg to xyz")

In [ ]:
def test(notes):
    notes.msg()

In [ ]:
i = ineuron()
x = xyz()

In [ ]:
test(i) # function giving some result

this is a msg to ineruon

In [ ]:
test(x) # same function giving some other result

this is a msg to xyz

In [ ]:
'''1. inheritence 
2. polymorphism (correct)
3. abstraction
4. encaptuation '''

'1. inheritence \n2. polymorphism\n3. abstraction\n4. encaptuation '

In [ ]:
# MY SQL WORKBENCH LINK : https://dev.mysql.com/downloads/installer/